.homepage {
  overflow-x: hidden;
  font-family: var(--second-font);
}

.hero {
  position: relative;
  font-family: var(--second-font);
  overflow-x: hidden;
}
/* .sermon_video {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.videoBg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
} */

.hero_cover {
  position: absolute;
  top: 0;
  background-color: #0000009c;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

/* .get_connected{
    background-image: url('https://res.cloudinary.com/dv9aqxptd/image/upload/v1728560541/homchapel/grey_hexagons_on_black_background_xfxlyc.webp');
} */

.filterBtns button {
  background-color: var(--main-color);
  padding: 0.8rem;
  border-radius: 0.125rem;
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.currentFilterBtn,
.filterBtns button:hover {
  box-shadow: inset 0px 1px 9px 3px rgba(0, 0, 0, 0.801);
  /* background-color: var(--second-color); */
}

.dept_info .swiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.dept_heading span {
  font-family: var(--main-font);
}
@media only screen and (min-width: 768px) {
  .dept_info .swiper {
    width: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .dept_info .swiper {
    width: 40%;
  }
}

/* .dept_info .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dept_info .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.loc_buttons button {
  padding: 0.8rem 2rem;
  border-radius: 6rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--second-font);
}

.join_church {
  font-family: var(--main-font);
  overflow-x: hidden;
}

.joinchurch_head {
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}

.joinchurch_cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem 2rem;
  justify-content: space-between;
  background-color: #000000a4;
  width: 100%;
  height: 100%;
}

.joinchurch_images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
  padding: 0 1rem;
}

.column_align {
  width: 50%;

  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.7rem;
}

.column_align img:nth-child(1) {
  height: 150px;
}

.column_align img:nth-child(2) {
  width: 70%;
}

.singleImage {
  width: 47%;
  height: 70%;
  object-fit: cover;
}

.joinchurch_images img {
  object-fit: cover;
  border: 9px solid #fff;
}

@media only screen and (min-width: 768px) {
  .joinchurch_cover {
    flex-direction: row;
    align-items: center;
  }

  .singleImage {
    width: 50%;
    height: 100%;
  }
}

.daily_verse {
  background-image: url("https://res.cloudinary.com/dv9aqxptd/image/upload/v1737054656/homchapel/DSC_0853_z9hg0z.webp");
  background-position: center;
  background-size: cover;
  font-family: var(--main-font);
}

.dailyverse_cover {
  background-color: rgba(0, 0, 0, 0.664);
  width: 100%;
  height: 100%;
}

#bibleverse {
  color: var(--second-color);
}
.testimonials .swiper {
  width: 90%;
  /* max-width: 700px; */
  /* height: 100%; */
}
@media only screen and (min-width: 768px) {
  .testimonials .swiper {
    width: 70%;
  }
}

.prayer_request {
  font-family: var(--main-font);
}
